.page {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.infomation {
  background-color: #fff;
  position: fixed;
  bottom: -100%;
  width: 500px;
  height: 500px;
  border: 1px solid var(--brand_black);
  border-radius: 12px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  z-index: 99;
}
.infomation.display {
  bottom: 0;
}
