.inner {
  margin: 0px 28.417% 0;
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.logo_box {
  max-width: 320px;
  width: 100%;
  margin-bottom: 16px;
}

.bt_l {
  width: 520px;
}

.join_box {
  display: flex;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
}
.join_box span {
  color: #525252;
}
.join_box a {
  color: #262626;
  text-decoration: underline;
}

@media screen and (max-width: 743px) {
  .logo_box {
    min-width: 240px;
  }
}
