.challenge {
  margin: 0 auto;
  max-width: 996px;
  width: 83%;
}

.top {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top > h2 {
  font-size: 20px;
  font-weight: 600;
}

.btn {
  height: 40px;
  border-radius: 19.5px;
  font-size: 16px;
}

.search_box {
  margin-top: 16px;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.filter {
  max-width: 112px;
  width: 100%;
}

.search_box .search {
  background-color: #fff;
  max-width: 872px;
  width: 100%;
  border: 1px solid var(--gray200);
}
.challenge .list {
  margin-top: 24px;
  height: 73vh;
  overflow-y: auto;
}
.challenge .list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.challenge .list > li {
  margin-bottom: 24px;
}
.challenge .list li.noList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 400;
  color: var(--gray500);
  text-align: center;
}
.challenge .createBtn {
  border-radius: 24px;
  font-size: 16px;
  font-weight: 600;
  padding: 0 13px;
}
.pageNavigation {
  display: flex;
}
.pageNavigation button {
}
.pageNavigation button:first-of-type {
}
.pageNavigation button:last-of-type {
}

@media screen and (max-width: 1199px) {
  .challenge {
    width: 89%;
  }
}
