.dropdown {
  position: relative;
  width: 100%;
  max-width: 112px;
  height: 40px;
  background-color: #fff;
  padding: 8px 12px 12px;
  border-radius: 32px;
  border: 1px solid var(--gray300);
}
.label {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray400);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.dropdown.filtering {
  background-color: var(--gray800);
}
.dropdown.filtering .label {
  color: #fff;
}
.filterBox {
  z-index: 99;
  position: absolute;
  top: 120%;
  left: -3%;
  width: 343px;
  padding: 16px 0;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid var(--gray200);
  color: var(--gray800);
}
.filterBox .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 16px;
}
.filterBox .top h2 {
  font-size: 16px;
  font-weight: 600;
}
.listCover {
  padding: 12px 16px 14px;
  border-bottom: 1px solid var(--gray200);
}
.listCover:last-of-type {
  border-bottom: 0;
}
.listCover .title {
  font-size: 14px;
  margin-bottom: 12px;
}
.listCover li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.listCover li:last-child {
  margin-bottom: 0px;
}
.listCover li label {
  display: flex;
}
.listCover li .chk {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid var(--gray300);
  background-color: var(--gray100);
  position: relative;
  overflow: hidden;
  margin-right: 4px;
}
.listCover li input {
  display: none;
}
.listCover li .chk img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btnArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  padding: 0 16px;
}
.btnArea button {
  width: 49%;
}
