.loginBox {
  display: flex;
  align-items: center;
  height: 100%;
}
.loginBtn {
  width: 90px;
  height: 40px;
  border: 1px solid var(--gray800);
  background-color: #fff;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
}

.itemBox {
  margin-right: 16px;
  position: relative;
}
.itemBox:last-child {
  margin-right: 0;
}

.modal {
  position: absolute;
  top: 115%;
  right: 0;
}
