.loginBox {
  display: flex;
  align-items: center;
  height: 100%;
}
.loginBtn {
  width: 90px;
  height: 40px;
  border: 1px solid var(--gray800);
  background-color: #fff;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
}

.itemBox {
  margin-right: 16px;
  position: relative;
}
.itemBox:last-child {
  margin-right: 0;
}

.modal {
  position: absolute;
  top: 115%;
  right: 0;
}

.alarm {
  position: absolute;
  overflow-y: scroll;
  width: 300px;
  max-height: 450px;
  border: 2px solid var(--gray200);
  border-radius: 8px;
  padding: 15px 0;
  right: 0;
  top: 120%;
  background-color: #fff;
  z-index: 99;
}
.alarm h2 {
  font-size: 16px;
  font-weight: 600;
  color: var(--gray800);
  padding: 0 16px;
  margin-bottom: 10px;
}
.alarm ul {
  position: relative;
}
.alarm ul li {
  width: 100%;
  height: 75px;
  padding: 12px 16px;
  border-bottom: 1px solid var(--gray200);
  display: flex;
  flex-wrap: wrap;
}
.alarm ul li.list {
  cursor: pointer;
}
.alarm ul li.list.read {
  background-color: var(--gray50);
}
.alarm ul li:last-of-type {
  border-bottom: 0;
}
.alarm ul li p {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
}
.alarm ul li .content {
  color: var(--gray800);
  margin-bottom: 5px;
}
.alarm ul li .date {
  color: var(--gray400);
}
.alarm ul li.noList {
  display: flex;
}
.alarm ul li.noList p {
  color: var(--gray400);
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
