.container {
  padding-top: 24px;
}
.container h2 {
  font-weight: 600;
  font-size: 20px;
  color: var(--gray800);
  margin-bottom: 12px;
}
.tabBox {
  display: flex;
  border-bottom: 1px solid var(--gray300);
  margin-bottom: 24px;
}
.tab {
  width: 100%;
  max-width: 146px;
  height: 53px;
  cursor: pointer;
}
.container .top .search {
  max-width: 100%;
}

.noList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 400;
  color: var(--gray500);
  text-align: center;
}

.list {}
.list li{}