.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.chips {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.userInfo {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 10px;
}

.userDetails {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user {
  font-weight: bold;
}

.likes {
  display: flex;
  align-items: center;
  gap: 5px;
}

.date {
  color: gray;
}
